[sync config]
# Maximum data volume for a single sync (Preferably less than 10,000 to Ensure load balancing)
sync_max = 1000
# sync count
sync_count = 1
# sync interval (seconds) 
sync_interval = 1 

[iotdb]
ip = 
user = root
password = 

[mysql]
ip = 
user = root
password = 
database = 

[verify config]
# verify id range
id_start = 6310409
id_end = 6311409      
# verify table name
table_name = cryogenic_data 
# verify batchsize (Preferably less than 100,000 to prevent MySQL query failure)
verify_batchsize = 10000

